:root {
    --primary: #1614b2;
    --dark: #000000;
    --light: #1e1e25;
}

body { font-family: 'Segoe UI', sans-serif; margin: 0; background: var(--light); }

header {
    background: var(--dark);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    background: var(--primary);
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

main { padding: 20px; max-width: 1000px; margin: auto; }

section { display: none; background: hsl(257, 17%, 16%); padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }

section.active { display: block; }

form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.grid-reportes { display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; margin-bottom: 20px; }