
.center-logo {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
  }
  
  .center-logo img {
    width: 120px;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 4px solid rgba(255,255,255,.3);
    border-top: 4px solid rgb(4, 163, 255);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 12px;
  }
  
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  